services:
  kafka_broker:
    build:
      context: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://127.0.0.1:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@127.0.0.1:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_CFG_INITIAL_BROKER_REGISTRATION_TIMEOUT_MS: 3000
    network_mode: host
    healthcheck:
      test: [ "CMD", "/opt/kafka/bin/kafka-metadata-quorum.sh", "--bootstrap-controller", "localhost:9093", "describe", "--status" ]
      interval: 5s
      timeout: 60s
      retries: 10
      start_period: 10s
